<?xml version="1.0" encoding="UTF-8"?>
<httpServer context="/myApp">
	<handler>
		<handler-class>com.charles.panda.siamese.server.httpserver.service.List</handler-class>
		<url-pattern>/list</url-pattern>
	</handler>
	<handler>
		<handler-class>com.charles.panda.siamese.server.httpserver.service.Del</handler-class>
		<url-pattern>/del</url-pattern>
	</handler>
	<handler>
		<handler-class>com.charles.panda.siamese.server.httpserver.service.Hello</handler-class>
		<url-pattern>/hello</url-pattern>
	</handler>
</httpServer>